:root {
    --bgr: #171717;
    --acnt: #f15a25;
    --txt: #f0f8ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-family: 'Garamond';
    color: var(--txt);
    background-color: var(--bgr);
}

h2 span {
    color: var(--acnt);
}

canvas {
    margin: 0.5rem 0;
}

.vector {
    display: inline-block;
    position: relative;
    display: flex;
}

.vector-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vector-inputs input {
    width: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
}

.vector-inputs input:nth-child(1) {
    color: #e00000;
}

.vector-inputs input:nth-child(2) {
    color: #00e000;
}

.vector-inputs input:nth-child(3) {
    color: #0000e0;
}