:root {
    --bgr: #171717;
    --acnt: #f15a25;
    --txt: #f0f8ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-family: 'Garamond';
    color: var(--txt);
    background-color: var(--bgr);
}

h2 span {
    color: var(--acnt);
}

canvas {
    margin: 0.5rem 0;
}

.vectors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2pt solid var(--acnt);
}

.vector {
    display: inline-block;
    position: relative;
    display: flex;
    margin: 0 0.5rem;
}

.vector-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vector-inputs input {
    width: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: n-resize;
}

.vector-inputs input:nth-child(1) {
    color: #e00000;
}

.vector-inputs input:nth-child(2) {
    color: #00e000;
}

.vector-inputs input:nth-child(3) {
    color: #0000e0;
}

#rgb_label {
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    grid-area: rgb_label;
}

#rgb_graph_canvas {
    border-left: 2pt solid var(--acnt);
    border-bottom: 2pt solid var(--acnt);
    grid-area: rgb_graph;
}

#rgb_canvas {
    grid-area: rgb_canvas;
}


#hsl_label {
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    grid-area: hsl_label;
}

#hsl_graph_canvas {
    border-left: 2pt solid var(--acnt);
    border-bottom: 2pt solid var(--acnt);
    grid-area: hsl_graph;
}

#hsl_canvas {
    grid-area: hsl_canvas;
}

.canvas-cointainers {
    display: grid;
    grid-template-areas:
        'rgb_label hsl_label'
        'rgb_graph hsl_graph'
        'rgb_canvas hsl_canvas';
    gap: 0.5rem 2rem;
}

@media screen and (max-width: 669px) {
    .canvas-cointainers {
        grid-template-areas:
            'rgb_label'
            'rgb_graph'
            'rgb_canvas'
            'hsl_label'
            'hsl_graph'
            'hsl_canvas';
    }
}